git "https://github.com/vasarhelyia/SIOSocket"
git "https://github.com/vasarhelyia/iso-8601-date-formatter"
github "ReactiveCocoa/ReactiveCocoa" == 2.4.3
github "SwiftyJSON/SwiftyJSON" "f5d08738c287508ffc9fd0672741dbca9ef50a32"
github "LlamaKit/LlamaKit"
